body{
  background: url('wave-haikei.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;

}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 25px;
  color: aliceblue;

}

tr:hover {background-color: coral;}

h1{
  color: burlywood;
  font-size: 60px;
  text-align: center;

}
